{% extends "SccBundle:Default:index.html.twig" %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <h1>Frequently Asked Question (FAQ)</h1>
    <ul>
        <li><a href="#">How can I update my profile?</a></li>
        <li><a href="#">What can I do to protect my account?</a></li>
        <li><a href="#">How can I recover my password?</a></li>
        <li><a href="#">Where can I get settings for my submissions?</a></li>
        <li><a href="#">How do I copy my schedule to my phone?</a></li>
        <li><a href="#">How can I upload a video?</a></li>
        <li><a href="#">How can I send an item via Bluetooth or WiFi on my device?</a></li>
    </ul>
{% endblock %}