{% extends "SccBundle:Default:index.html.twig" %}

{% block title %}FAQ{% endblock %}

{% block body %}

    <div class="container facture">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="page-header">
                            <h3 class="titleFaq">Frequently Asked Questions (FAQ)</h3><br>
                        </div>
                        <div class="col-md-2">
                            <p><b>ADMINSTRATIF :</b>
                                <br><br><br><br>
                            <b>CONNEXION :</b>
                                <br><br><br><br><br><br>
                            <b>PRATIQUE :</b>

                        </div>
                        <ul class="col-md-5">
                            <li><a href="#">Comment mettre à jour mon profil ?</a></li>
                            <li><a href="#">Comment protéger mon compte ?</a></li>
                            <li><a href="#">Comment récupérer mon mot-de-passe ?</a></li>
                            <li><a href="#">Comment gérer mes candidatures ?</a></li>
                            <li><a href="#">Comment copier mon agenda MoovOne sur mon téléphone ?</a></li>
                            <li><a href="#">Comment uploader une vidéo ?</a></li>
                            <li><a href="#">Comment partager une information via BlueTooth ou WiFi?</a></li>
                            <li><a href="#">Comment mettre à jour mon profil ?</a></li>
                            <li><a href="#">Comment protéger mon compte ?</a></li>
                            <li><a href="#">Comment récupérer mon mot-de-passe ?</a></li>
                            <li><a href="#">Comment gérer mes candidatures ?</a></li>
                            <li><a href="#">Comment copier mon agenda MoovOne sur mon téléphone ?</a></li>
                            <li><a href="#">Comment uploader une vidéo ?</a></li>
                            <li><a href="#">Comment partager une information via BlueTooth ou WiFi?</a></li>
                        </ul>
                        <ul class="col-md-5">
                            <li><a href="#">Comment mettre à jour mon profil ?</a></li>
                            <li><a href="#">Comment protéger mon compte ?</a></li>
                            <li><a href="#">Comment récupérer mon mot-de-passe ?</a></li>
                            <li><a href="#">Comment gérer mes candidatures ?</a></li>
                            <li><a href="#">Comment copier mon agenda MoovOne sur mon téléphone ?</a></li>
                            <li><a href="#">Comment uploader une vidéo ?</a></li>
                            <li><a href="#">Comment partager une information via BlueTooth ou WiFi?</a></li>
                            <li><a href="#">Comment mettre à jour mon profil ?</a></li>
                            <li><a href="#">Comment protéger mon compte ?</a></li>
                            <li><a href="#">Comment récupérer mon mot-de-passe ?</a></li>
                            <li><a href="#">Comment gérer mes candidatures ?</a></li>
                            <li><a href="#">Comment copier mon agenda MoovOne sur mon téléphone ?</a></li>
                            <li><a href="#">Comment uploader une vidéo ?</a></li>
                            <li><a href="#">Comment partager une information via BlueTooth ou WiFi?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

    <footer class="secondfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><h3>Informations</h3>
                    MoovOne<br />
                    9 rue George V<br />
                    Email: contact@mooveone.com<br />
                    Tel: 0102030405<br />
                    <a ng-href="#/contact" class="colorContact">Contactez-nous</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Suivez notre actualité</h3>
                    <ul>
                        <a href="https://www.facebook.com/moovone" class="centerIconSpecial"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/moovone" class="centerIcons"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/moovone" class="centerIcons"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/+MoovoneEu/" class="centerIcons"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>À propos</h3>
                    <p>
                        Chez MoovOne, nous pensons qu’il faut permettre un accompagnement individualisé des managers
                        de proximité pour augmenter l’efficacité d’action de développement des compétences,
                        de conduite du changement ou l’amélioration générale des équipes.
                    </p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}