{% extends "SccBundle:Default:index.html.twig" %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h3 class="titleSubmission">Nouvelles candidatures :</h3>
                    </div>
                    {% if Candidatures %}
                            {% for candidature in Candidatures %}
                                <div class="col-md-3" id="spaceCandidature">
                                    {{ candidature.nom }}
                                </div>
                                <div class="col-md-3" id="spaceCandidature">
                                    {{ candidature.prenom }}
                                </div>
                                <div class="col-md-3" id="spaceCandidature">
                                    {{ candidature.motivation }}
                                </div>
                                <div class="col-md-3" id="spaceCandidature">
                                    <button type="button" class="btn btn-default btnRefuser" data-dismiss="modal">Refuser</button>
                                    <button type="submit" class="btn btn-primary btnValider" id="savechange">Valider</button>
                                </div>

                            {% endfor %}
                    {% else %}
                        <h3>Aucune nouvelle candidatures</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    <footer class="secondfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><h3>Informations</h3>
                    MoovOne<br />
                    9 rue George V<br />
                    Email: contact@mooveone.com<br />
                    Tel: 0102030405<br />
                    <a ng-href="#/contact" class="colorContact">Contactez-nous</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Suivez notre actualité</h3>
                    <ul>
                        <a href="https://www.facebook.com/moovone" class="centerIconSpecial"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/moovone" class="centerIcons"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/moovone" class="centerIcons"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/+MoovoneEu/" class="centerIcons"><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>À propos</h3>
                    <p>
                        Chez MoovOne, nous pensons qu’il faut permettre un accompagnement individualisé des managers
                        de proximité pour augmenter l’efficacité d’action de développement des compétences,
                        de conduite du changement ou l’amélioration générale des équipes.
                    </p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

